.text-center
  %h1.text-hide Helvetia Dreamers
  %object{:type => "image/svg+xml", :data => "http://wilsonsofoxford.com/images/HelvetiaLogo.svg"}
    %param{:name => "src", :value => "http://wilsonsofoxford.com/images/HelvetiaLogo.svg"}
.jumbotron
  %p Never miss an update. Sign up now to get Helvetia Dreamers in your mailbox!
  %p
    .input-group.input-group-lg
      %span.input-group-addon Email
      %input.form-control{:type => "email", "aria-label" => "Text input for email"}/
      %span.input-group-btn
        %button.btn.btn-primary.btn-lg{:type => "button"} Sign-up &raquo;
%section#content-preview
  .container
    %article.preview.col-md-6.col-lg-4{:style => "background-image: url(http://www.hdwallpapersfreedownload.com/uploads/large/animals/badger-hd-photos.jpg)"}
      .content
        %h1 Boistrous Badgers Worry Wombats
        %p Boistrous badgers have been spied waving to worried wombats while reclined.
        %a.text-left{:href => "#"} Read More &raquo
    %article.preview.col-md-6.col-lg-4{:style => "background-image: url(http://www.hdwallpapersfreedownload.com/uploads/large/animals/badger-hd-photos.jpg)"}
      .content
        %h1 Boistrous Badgers Worry Wombats
        %p Boistrous badgers have been spied waving to worried wombats while reclined.
        %a.text-left{:href => "#"} Read More &raquo
    %article.preview.col-md-6.col-lg-4{:style => "background-image: url(http://www.hdwallpapersfreedownload.com/uploads/large/animals/badger-hd-photos.jpg)"}
      .content
        %h1 Boistrous Badgers Worry Wombats
        %p Boistrous badgers have been spied waving to worried wombats while reclined.
        %a.text-left{:href => "#"}Read More &raquo
